---
---

@import "{{ site.theme }}";

.page-header {
  padding: 2rem 6rem;

  > h2 {
    margin-bottom: 0;
    margin-top:    10px;
  }

  > a {
    display: none;
  }
}

.main-content {
  table {
    display: table;

    tr {
      ul {
        margin: 10px 0 !important;
      }
    }
  }
}